# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/

# iOS Deployment Kit
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.ipa
*.dSYM.zip
vendor/bundle
.env
.env.*
